<div class="content">

  <div class="main wrapper z_fix">
    <br>
    <div class="input-group mb-0">
      <input type="text" class="form-control ml-4" placeholder="Search for anime" [(ngModel)]="temp" list="titles"
             aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary mr-4" (click)="selectTitle(temp)" type="button">Select</button>
      </div>
    </div>

    <datalist id="titles">
      <list *ngFor="let item of animes">
        <option (click)="selectTitle(item.title)" value="{{item.title}}"></option>
      </list>
    </datalist>

    <div *ngIf="animeUrls!=null">

      <div *ngFor="let anime of animeUrls">
        <div *ngIf="anime.id==i || anime.id==i+'-'+(i+1)" class="mt-0">

          <div class="header-block">
            <h1 class="header">{{choice}} {{anime.id}} серия</h1>
          </div>

          <div class="block-725-width border_around_video no-top-right-border">
            <video
              id="my-player"
              class="video-js"
              height="408"
              width="725"
              controls
              preload="auto"
              data-setup='{}'>
              <source src="{{anime.url}}" type="video/mp4">
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">
                  supports HTML5 video
                </a>
              </p>
            </video>
          </div>
        </div>
      </div>


      <div class="block-725-width mt-2 mb-2">
        <input type=number min="1" style="border: none; border-bottom: 1px solid dodgerblue; margin-right: 15px;"
               width="10px" max="{{animeUrls.length}}" [(ngModel)]="i" aria-label="episodeID">
        <input type=range min="1" max="{{animeUrls.length}}" [(ngModel)]="i" aria-label="episodeID">
      </div>
      <div class="btn-group mb-5" style="width: 100%;">
        <div class="block-725-width">
          <button class="btn btn-sasori" *ngIf="i>1" (click)="i=i-1">{{i - 1}} серия</button>
          <button class="btn btn-sasori float-right" *ngIf="i<animeUrls.length" (click)="i=i+1">{{animeUrls[i].id }}
            серия
          </button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>

</div>

<link href="//vjs.zencdn.net/7.0/video-js.min.css" rel="stylesheet">
<script src="//vjs.zencdn.net/7.0/video.min.js"></script>
