<style type="text/css">
  .content {
    background-image: url("https://wallpapertag.com/wallpaper/full/b/4/e/826161-cool-zetsu-akatsuki-wallpaper-1920x1080-smartphone.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    }

  .container {
    background-color: #245164;
    width: 700px;
    min-height: 700px;
  }

  #disc {
    color: #c0e3d2;
    margin-top: 10px;
    text-align: center;
  }

</style>

<div class="content">
  <div class="container">
    <br>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="filter" aria-label="Search">

    <div *ngFor="let opening of openingList | searchFilter: filter" style="width: 100%;">
      <div id="container" style="margin: auto; width: 600px;">
        <div id="disc">{{opening.title}}</div>
        <audio id="sound" src="{{opening.url}}" style="width: 600px;" preload="auto" controls></audio>
      </div>
    </div>

  </div>
</div>

